@font-face {
  font-family: 'bigmaccaregular';
  src: url('./font/bigmacca-webfont.woff2') format('woff2'),
    url('./font/bigmacca-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
    background: #1b0e1a;
    font-family: 'bigmaccaregular', sans-serif;
}
